body {
  font-family: "Indie Flower", cursive;
  font-weight: bold;
  height: 100vh;
  background: repeating-linear-gradient(
    0deg,
    #ccc,
    #ccc 4px,
    white 4px,
    white 30px
  );
}

h1 {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-right: 50px;
  font-size: 70px;
  color: rgb(17, 17, 110);
}

ul {
  list-style-type: none;
}

.Add {
  margin-left: 5px;
  background-color: #0a0a23;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 10px;
  width: 50px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  font-weight: bold;
    cursor: grab;

}

.Add:hover {
  background-color: #002ead;
  transition: 0.7s;
}

.Delete {
  margin-left: 10px;
  background-color: white;
  border: solid black 1px;
  border-radius: 20px;
    cursor: grab;

  
}
.Elements {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 50px;
  font-size: 30px;
}
.Input {
  height: 20px;
  padding: 5px;
  border: solid;
}

.List {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 20px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  body {
    color: rgb(9, 8, 8);
  }

  h1{
    font-size: 50px;
  }

.Elements {
  font-size: 24px;
}

}
